# emacs autosave
*~
# vim
.swp
.swo
# Mac files
.DS_Store
# python bytecode compiled files
*.pyc
build/*
*.c
.idea

# Unit test / coverage reports
.coverage

.eggs/
dist
whitematteranalysis.egg-info/
